body {
  font-family: Verdana, sans-serif; 
  margin:0;
  margin-top: 100px;
}
/* replace with circle indicators */
.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
