// header component

.main-header {
  > .main-nav {
    background-color: $blue;
    display: flex;
    justify-content: space-around;
    font-size: 1.25rem;
    a {
      color: white;
      display: block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
  
    }
  }
}