---
// Access passed-in component props, like `<X title="Hello, World" />`
//const { imageURL, heading, content } = Astro.props;
import { Debug } from 'astro:components';

---
<!-- Your template here! -->
<section class="component columns">
  <slot />
</section>