---
import '../styles/dc_comics.css'; 
---


<footer>
    <h2>Student Details:</h2>
    <h3>Mick Fox</h3>
    <h3>
      Student Number:
      <span style="font-family: 'Courier New', Courier, monospace; color: gray"
        >0000001</span
      >
    </h3>
  </footer>