---
import '../styles/dc_comics.css'; 
import { Image } from 'astro:assets';
import zatanna from "../assets/zatanna.png";
---


<Image 
            src={zatanna}
            alt=""
            class="superhero-card"
            style="background-color: #1b4578; break-after: column"
          />
          <h2 class="superhero-card">Zatanna</h2>
          <p class="superhero-card">
            Intelligent, confident, self-assured and able to manipulate reality
            itself with her vast magical abilities, Zatanna balances her time as
            a skilled stage illusionist with battling the dark arts alongside
            some of the world’s greatest super heroes.
          </p>