---
// Access passed-in component props, like `<X title="Hello, World" />`
const { imageURL, imageAlt } = Astro.props;

---
<section class="component banner">
  <img class="banner" src={imageURL} alt={imageAlt}>
</section>

<style>
  
</style>