---
// Access passed-in component props, like `<X title="Hello, World" />`
const { title } = Astro.props;
---
<!-- Your template here! -->
		<!--Footer-->
		<footer class="component footer">
			<p class="student-details">Student Details</p>
			<p class="">Name: A.N. Other</p>
			<p class="">Student Number: UCDPA00001234</p>
		</footer>