---
import '../styles/dc_comics.css'; 
import { Image } from 'astro:assets';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import Theflash_component from "../components/theflash.astro"
import Wonderwoman_component from "../components/wonderwoman.astro"
import Superman_component from "../components/superman.astro"
import Zatanna_component from "../components/zatanna.astro"


---



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./styles/dc_comics.css" /> -->
  </head>



  <body>
    <Header />
    <main>
      <div class="superhero-container">
        <div class="superhero-card">
          <!-- <img  <Image src={myImage} alt="A description of my image." /> -->
          <Theflash_component />
        </div>

        <div class="superhero-card">
          <Wonderwoman_component />
        </div>

        <div class="superhero-card">
      <Superman_component />
      </div>
        <div class="superhero-card">
          <Zatanna_component />
        </div>
      </div>

      <div class="tables_container">
        <div class="tables_card" style="border: red 5px">
          <h1 class="tables_card">Top 5 DC Villains</h1>
          <table class="tables_card">
            <tr>
              <th style="width: 40%">Rank</th>
              <th style="width: 60%">Character:</th>
            </tr>
            <tr>
              <td style="width: 40%">5</td>
              <td style="width: 60%">Brainiac</td>
            </tr>
            <tr>
              <td style="width: 30%">4</td>
              <td style="width: 70%">Sinestro</td>
            </tr>
            <tr>
              <td style="width: 30%">3</td>
              <td style="width: 70%">Darkseid</td>
            </tr>
            <tr>
              <td style="width: 30%">2</td>
              <td style="width: 70%">Lex Luthor</td>
            </tr>
            <tr>
              <td style="width: 30%">1</td>
              <td style="width: 70%">Joker</td>
            </tr>
          </table>
        </div>
        <div class="tables_card">
          <h1 class="tables_card">Top 5 Movies</h1>
          <table class="tables_card" style="border-spacing: 0px">
            <tr>
              <th>Rank</th>
              <th>Character:</th>
              <th>Character:</th>
            </tr>
            <tr>
              <td>1</td>
              <td>The Dark KNight</td>
              <td>$533,345,358</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Wonder Woman</td>
              <td>$412,563,408</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Batman v Superman: Dawn of Justice</td>
              <td>$330,360,194</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Suicide Squad</td>
              <td>$325,100,054</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Man of Steel></td>
              <td>no data available</td>
            </tr>
          </table>
        </div>
      </div>
    </main>
  </body>
  <Footer />
</html>
