---
import '../styles/dc_comics.css'; 
import { Image } from 'astro:assets';
import header from "../assets/dc_comics_header.png";
---

  <header>

    <div>
      <Image src={header} alt="header image"/>
    </div>
  </header>