---
import '../styles/dc_comics.css'; 
import { Image } from 'astro:assets';
import header from "../assets/dc_comics_header.png";
---

  <header>
    <nav>
      <div>
        <a href="https://www.dccomics.com/movies">Movies</a>
      </div>
      <div>
        <a href="https://www.dccomics.com/characters">Characters</a>
      </div>
      <div>
        <a href="https://www.dccomics.com/comics">Comics</a>
      </div>
    </nav>

  </header>