---
// Access passed-in component props, like `<X title="Hello, World" />`
const { title } = Astro.props;
---
<!-- Your template here! -->
<header class="main-header">
  <!--Navbar-->
  <nav class="main-nav">
    <a class="" href="https://www.dccomics.com/movies">Movies</a>
    <a class="" href="https://www.dccomics.com/characters">Characters</a>
    <a class="" href="https://www.dccomics.com/comics">Comics</a>
  </nav>
</header>