---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Debug } from 'astro:components';

//import '../../public/css/styles.css'; // can do an import or use link tag in the html (see below)
import '../scss/styles.scss';

const { pageTitle } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{pageTitle}</title>
</head>
<body>
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
</body>
</html>
